<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>

    <div class="container mt-3">
        <h2>서울시 권역별 실시간 대기환경정보조회 서비스</h2>

        <!-- 테이블 시작 -->
        <table class="table table-striped">

            <thead>
                <tr>
                    <th>측정일시</th>
                    <th>권역명</th>
                    <th>측정소명</th>
                    <th>미세먼지(㎍/㎥)</th>
                    <th>초미세먼지농도(㎍/㎥)</th>
                    <th>오존(ppm)</th>
                    <th>이산화질소농도(ppm)</th>
                    <th>일산화탄소농도(ppm)</th>
                    <th>아황산가스농도(ppm)</th>
                    <th>통합대기환경등급</th>
                    <th>통합대기환경지수</th>
                    <th>지수결정물질</th>
                </tr>
            </thead>

            <tbody>
                {{#seouls}}
                <tr>
                    <td>{{msrdt}}</td>
                    <td>{{msrrgn_nm}}</td>
                    <td>{{msrste_nm}}</td>
                    <td>{{pm10}}</td>
                    <td>{{pm25}}</td>
                    <td>{{o3}}</td>
                    <td>{{no2}}</td>
                    <td>{{co}}</td>
                    <td>{{so2}}</td>
                    <td>{{idex_nm}}</td>
                    <td>{{idex_mvl}}</td>
                    <td>{{arplt_main}}</td>
                </tr>
                {{/seouls}}
            </tbody>
        </table>
        <!-- 테이블 끝 -->
    </div>

</body>

</html>